<!DOCTYPE html>
<html>
  <head>
    <title>Reactive Stack</title>
    <%- include('header'); -%>
  </head>
  <body>

    <div class="container-fluid text-center" id="posts-list">

<h1>Products</h1>
<% if (products) { %>
  <% products.forEach(function(product){ %>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title"><a href="/product/?id=<%= product.id %>"> <%= product.name %></a></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= product.date %></h6>
              <p class="card-text"><%= product.price %>$</p>
          </div>
          <div class="card-footer">
            <form action="/delete" method="post">
              <input type="hidden" name="id" value="<%= product.id %>">
              <input type="submit" class="btn btn-sm btn-danger" name="btn-delete" value="X">
            </form>
          </div>
      </div>
  <% }); %>
<% } %>
<br>
<a href="./new">Create a Product</a>

<%- include('footer'); -%>
  </div>
  </body>
</html>
